{{>head}} 

{{> menu }}

<div class="row">
    <div class="col-8">
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus veniam vel voluptatum neque nam modi, odit molestias praesentium amet voluptatem. Maiores reprehenderit cum tenetur ad labore. Voluptas saepe accusamus esse, nemo consequuntur quos minus id corrupti asperiores fuga aspernatur a suscipit distinctio molestiae temporibus excepturi?</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/banana.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}