body{
	padding-top: 55px;
	font-family: 'Open Sans';
}
header{
	margin-bottom: 40px;
}
header nav .navbar-brand .titulo-pag{
	width: 160px;
}
header .menu .navmenu li a:hover{
	border-bottom: 2px solid #5bc0de;
}
.caracteristicas  img{
	width: 120px;
	border:1px ;
	border-radius: 25px; ;
}
footer{
	opacity: 1;
}